.task-container {
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
}

  label {
    width: 10%;
    margin: 1%;
  }

  p {
    width: 75%;
    //border: 1px solid black;
    margin: 1%;
    font-size: 22px;
  }

  button {
    width: 15%;
  }

  .crossed-out {
    text-decoration: line-through;
  }

  .active {
    text-decoration: none;
  }
