.tasks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2vh;
  height: 15vh;
  box-sizing: border-box;
}

//label {
//  width: 15%;
//  height: 100%;
//  padding: 0.5vw;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}

p {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  background-color: #00adb5;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 1vw;
}

.btn {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ff5151;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button > span {
  padding-left: 0.5vw;
}

button:hover {
  background-color: #e81a1a;
}

button:active {
  transform:translateY(2px);
}

.crossed-out {
  text-decoration: line-through;
  background-color: #e81a1a;
}

.active {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  p {
    width: 85%;
  }

  .btn {
    width: 15%;
  }
}

@media screen and (max-width: 768px) {
  button {
    width: 100%;
  }

  button > span {
    display: none;
  }

  p {
    font-size: 1.25rem;
    width: 90%;
  }

  .btn {
    width: 10%;
  }
}

@media screen and (max-width: 480px) {
  button {
    width: 100%;
  }

  p {
    font-size: 1rem;
    width: 85%;
  }

  .btn {
    width: 15%;
  }
}

// for non-touch screen devices (to eliminate hover effects trails)
@media(hover: hover) and (pointer: fine) {
  button:hover {
    background-color: #ff5151;
  }

  button:active {
    transform: none;
  }
}
