.adding-new-task-container {
  width: 100%;
  height: 10vh;
}

label {
  height: 100%;
  display: flex;
  justify-content: center;
}

input {
  width: 90%;
  height: 60%;
  text-align: center;
  background-color: #eeeeee;
  font-size: 1.5rem;
  color: #393e46;
  border: 1px solid black;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {

  input {
    font-size: 1.25rem;
  }

}

@media screen and (max-width: 480px) {

  input {
    font-size: 1rem;
  }

}
